{% extends 'blog/base.html' %}

{% block content %}
<center>
    <h1>Proovedores</h1>
    <a href="{% url 'post_new' %}"><h1>[[NUEVO PROVEEDOR]]</h1></a>
    {% for post in posts %}
        <div class="card text-white bg-primary mb-3" style="max-width: 90%;">
            <a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark mb-3" style="max-width: 98%;">
                    <div class="card-header">Nombre Proveedor: {{post.nombre}}</div>
                    <div class="card-body">
                    <h4 class="card-title">RUT Proveedor: {{post.rut}}</h4>
                    <p class="card-text">Telefono Proveedor: {{post.telefono}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</center>
{% endblock %}