{% extends 'blog/base.html' %}

{% block content %}
    <div class="jumbotron" style="text-align: center; width:70%;margin-left: 15%;">
        <h1>Descripcion: {{post.descripcion}}</h1>
        <hr style="width: 80%">
        <h3>proveedor: {{post.proveedor}}</h3>
        <h3>precio: ${{post.precio}}</h3>
        <h3>marca: {{post.marca}}</h3>
        <h3>existencia actual: {{post.existencia_actual}}</h3>
        <h3>cod familia: {{post.cod_familia}}</h3>
        <h3>fecha de vencimiento: {{post.fecha_vencimiento}}</h3>
        <a class="btn btn-default" href="{% url 'produc_edit' pk=post.pk %}"><button class="btn btn-warning">EDITAR</button></a>
    </div>
{% endblock %}