{% extends 'blog/base.html' %}

{% block content %}
<center>
    <h1>Clientes</h1>
    <a href="{% url 'cliente_new' %}"><h1>[[NUEVO CLIENTE]]</h1></a>
    {% for post in posts %}
        <div class="card text-white bg-primary mb-3" style="max-width: 90%;">
            <a href="{% url 'cliente_detail' pk=post.pk %}" style="text-decoration: none;">
                <div class="card text-white bg-dark mb-3" style="max-width: 98%;">
                    <div class="card-header">Nombre Cliente: {{post.nombre}} {{post.apellido}}</div>
                    <div class="card-body">
                    <h4 class="card-title">Telefono: {{post.telefono}}</h4>
                    <p class="card-text">Correo Electronico: {{post.correo_electronico}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</center>
{% endblock %}