{% extends 'blog/base.html' %}

{% block content %}
    <div class="jumbotron" style="text-align: center; width:70%;margin-left: 15%;">
        <h1>Nombre: {{post.nombre}} {{post.apellido}}</h1>
        <hr style="width: 80%">
        <h3>RUT: {{post.rut}}</h3>
        <h3>Direccion: {{post.direccion}}</h3>
        <h3>Telefono: {{post.telefono}}</h3>
        <h3>Correo Electronico: {{post.correo_electronico}}</h3>
        <a class="btn btn-default" href="{% url 'cliente_edit' pk=post.pk %}"><button class="btn btn-warning">EDITAR</button></a>
    </div>
{% endblock %}